@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', cursive;
}

#heading {
    font-size: 5rem;
    text-align: center;
    color: crimson;
}

#sub-heading {
    font-size: 2.5em;
    text-align: center;
    color: darkgoldenrod;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: chartreuse;
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

.card-title {
    font-size: 2.5rem;
    color: darkblue;
}

.manufacturer {
    font-size: 1.5rem;
    color: deeppink;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price {
    font-size: 1.5rem;
    margin-top: 15px;
}

.buy-btn {
    background-color: crimson;
    margin: 10px;
    color: aliceblue;
    font-size: 24px;
    margin-top: 70px;
}

.buy-btn:hover {
    background-color: lightcoral;
}

.buy-btn:active {
    background-color: darkorange;
    border: 2px solid blue;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}